body {
  text-align: center;
  font-family: "Segoe UI";
  color: black;
}

/* centered navigation */
.nav p {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 80%;
  border-radius: 5px;
  color:black;
}


.nav p:hover {
  background-color: orange;
}

.mainBlock p{
  max-width: 50%;
  font-size: 13px;
}

.mainBlock h1{
  font-size: 20px;
}



#gobblerHeader{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.borderh1{
  width: 750px;
}


.like-container-inline p{
  display: inline-block;
  margin-right: 1%;
 }

 #list-item{
   margin-bottom: 25px;
}

.dishList{
 
  border-bottom: solid black 1px; 
  margin-top: 20px;
}




