body {
  text-align: center;
  background-color:white;
  font-family: "Segoe UI";
  color: black;
 }

/* centered navigation */
.nav p {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  color:black;
}


.nav p:hover {
  background-color: orange;
}

.mainBlock p{
  max-width: 500px;
  font-size: 15px;
}



#gobblerHeader{
  display: block;
  margin-left: auto;
  margin-right: auto;
}



