   .footerImages img {
     display: inline-table;
     padding: 14px;
     border-radius: 5px;
     left: 0;
     bottom: 0;
   }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   }

.footerImages img:hover {
  background-color: orange;
}
 