.borderh1 {
    margin:auto;
    width:20%;
    margin-top:-50px;
}

#gobblerHeader {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%; 
}

.gobblerList {
    text-align: center;
    list-style-position: inside;
    font-size:20px;
}

body {
   text-align: center;
   background-color: whitesmoke;
   font-family: "Segoe UI";
}




