.nav p {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: underline;
    font-size: 17px;
    border-radius: 5px;
    color:black;
  }
  
  .nav p:hover {
    background-color: orange;
  }

