.nav h3 {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  
  .nav h3:hover {
    background-color: orange;
  }

